<section class="content-header">
    <h1>
        职位管理
        <small>Job Manager</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页管理</a></li>
        <li class="active">职位管理</li>
    </ol>
</section>

<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body">
            <form id="formSearch" class="form-horizontal">
                <div class="form-group" style="margin-top:15px">
                    <label class="control-label col-sm-1" for="txt_search_jobname">职位名称</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txt_search_jobname">
                    </div>
                    <div class="col-sm-2" style="text-align:left;">
                        <button type="button" id="btn_query" class="btn btn-primary btn-flat">查询</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-success btn-flat">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
        </button>
        <button id="btn_edit" type="button" class="btn btn-primary btn-flat">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 修改
        </button>
        <button id="btn_delete" type="button" class="btn btn-danger btn-flat">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
        </button>
    </div>
    <table id="tb_jobs"></table>
</div>
<div id="job_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_job_title">新增职位</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label id="label_info" style="line-height: 35px;color: red;">

                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="line-height: 35px;">
                            职位名称
                        </label>
                    </div>
                    <div class="col-md-10">
                        <input id="input_job_name" type="text" class="form-control" placeholder="请输入职位名称"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>关闭
                </button>
                <button id="btn_add_job" onclick="addJob()" type="button" class="btn btn-success btn-flat">
                    <span class="glyphicon glyphicon-floppy-save"></span>保存
                </button>
                <button id="btn_update_job" onclick="updateJob()" type="button" class="btn btn-success btn-flat">
                    <span class="glyphicon glyphicon-floppy-save"></span>确定
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#tb_jobs').bootstrapTable({
            method: 'POST',
            contentType: "application/x-www-form-urlencoded",//必须要有！！！！
            url:"/rest/findAllJobs",//要请求数据的文件路径
            toolbar: '#toolbar',//指定工具栏
            striped: true, //是否显示行间隔色
            pageNumber: 1, //初始化加载第一页，默认第一页
            pagination:true,//是否分页
            queryParams:queryParams,//请求服务器时所传的参数
            sidePagination:'server',//指定服务器端分页
            pageSize:10,//单页记录数
            pageList:[5,10,20,30],//分页步进值
            showRefresh:true,//刷新按钮
            showColumns:true,
            clickToSelect: true,//是否启用点击选中行
            toolbarAlign:'left',//工具栏对齐方式
            buttonsAlign:'right',//按钮对齐方式
            showToggle:true, //是否显示详细视图和列表视图的切换按钮
            minimumCountColumns: 2, //最少允许的列数
            toolbar:'#toolbar',//指定工作栏
            columns:[
                {
                    title:'全选',
                    field:'select',
                    //复选框
                    checkbox:true,
                    width:25,
                    align:'center',
                    valign:'middle'
                },
                {
                    title:'主键编号',
                    field:'id',
                    sortable:true
                },
                {
                    title:'职位名称',
                    field:'name',
                    sortable:true
                }
            ],
            locale:'zh-CN',//中文支持
            responseHandler:function(res){
                //在ajax获取到数据，渲染表格之前，修改数据源
                return res;
            }
        })
        //请求服务数据时所传参数
        function queryParams(params){
            return{
                //每页多少条数据
                pageSize: params.limit,
                //请求第几页
                pageIndex:params.offset,
                sortOrder: params.order, //排序
                sortName:params.sort, //排序字段
                //职位名称
                name:$("#txt_search_jobname").val()
            }
        }
    });
    // 查询
    $("#btn_query").click(function () {
        $('#tb_jobs').bootstrapTable('refresh');
    });
    // 添加
    $("#btn_add").click(function () {
        $("#modal_job_title").text("新增职位");
        $("#btn_add_job").css("display","inline");
        $("#btn_update_job").css("display","none");
        $("#job_modal").modal('toggle');
    });
    function addJob() {
        $("#label_info").text("");
        if($("#input_job_name").val()==""){
            $("#label_info").text("职位名称不能为空");
            return;
        }
        $.ajax({
            type:"POST",
            url:"/rest/addJob",
            data:"name="+$("#input_job_name").val(),
            success:function (data) {
                $("#job_modal").modal('toggle');
                <!--弹出提示框-->
                $("#toastMsgDiv").css({"top":$('body').scrollTop()+200});
                $("#toastMsgDiv").css({"display":"block"});
                $("#toastMsg").html(data.msg).fadeIn(300).delay(2000).fadeOut(300);
                $('#tb_jobs').bootstrapTable('refresh');
                $("#input_job_name").val("");
            }
        });
    }
    // 删除
    $("#btn_delete").click(function () {
        var rows = $('#tb_jobs').bootstrapTable('getSelections');
        if(rows.length==1){
            var obj = rows[0];
            $.ajax({
                type:"GET",
                url:"/rest/deleteJobById?id="+obj.id,
                success:function (data) {
                    <!--弹出提示框-->
                    $("#toastMsgDiv").css({"top":$('body').scrollTop()+200});
                    $("#toastMsgDiv").css({"display":"block"});
                    $("#toastMsg").html(data.msg).fadeIn(300).delay(2000).fadeOut(300);
                    $('#tb_jobs').bootstrapTable('refresh');
                }
            });
        }else {
            <!--弹出提示框-->
            $("#toastMsgDiv").css({"top":$('body').scrollTop()+200});
            $("#toastMsgDiv").css({"display":"block"});
            $("#toastMsg").html('请选中一行数据').fadeIn(300).delay(2000).fadeOut(300);
        }
    });
    // 修改
    $("#btn_edit").click(function () {
        var rows = $('#tb_jobs').bootstrapTable('getSelections');
        if(rows.length==1){
            $("#modal_job_title").text("更新职位");
            $("#btn_add_job").css("display","none");
            $("#btn_update_job").css("display","inline");
            $("#job_modal").modal('toggle');
            $("#input_job_name").val(rows[0].name);
        }else {
            <!--弹出提示框-->
            $("#toastMsgDiv").css({"top":$('body').scrollTop()+200});
            $("#toastMsgDiv").css({"display":"block"});
            $("#toastMsg").html('请选中一行数据').fadeIn(300).delay(2000).fadeOut(300);
        }
    });
    function updateJob() {
        $("#label_info").text("");
        if($("#input_job_name").val()==""){
            $("#label_info").text("职位名称不能为空");
            return;
        }
        var rows = $('#tb_jobs').bootstrapTable('getSelections');
        $.ajax({
            type:"POST",
            url:"/rest/updateJob",
            data:"id="+rows[0].id+"&name="+$("#input_job_name").val(),
            success:function (data) {
                $("#job_modal").modal('toggle');
                <!--弹出提示框-->
                $("#toastMsgDiv").css({"top":$('body').scrollTop()+200});
                $("#toastMsgDiv").css({"display":"block"});
                $("#toastMsg").html(data.msg).fadeIn(300).delay(2000).fadeOut(300);
                $('#tb_jobs').bootstrapTable('refresh');
                $("#input_job_name").val("");
            }
        });
    }
</script>